.container{
    background-color: rgb(116, 235, 235);
    padding: 15px;
}
.form-control{
    height: 200px;
    width: 650px;
}
#card1
{
    height: 200px;
    padding: 20px;
    margin: 10px;
}
#card2
{
    height: 200px;
    padding: 20px;
    margin: 10px;
}
#card3
{
    height: 200px;
    padding: 20px;
    margin: 10px;
}