body{
    background-color: black;
}
.bulbOff{
    height: 150px;
    width: 150px;
}
.catEye{
    height: 150px;
    width: 150px;
}
.button1{
    background-color: gray;
    border-radius: 50px;
    text-align: center;
    text-align: center;
}