body{
    background-color:aqua;
    width: 250px;
    height: 400px;
}
.modify{
    padding: 10px;
    margin: 0 auto;
    height: 250px;
    width: 180px;
    float: left;
}
.btn{
    height: 40px;
    width: 150px;
    border-radius: 15px;
    margin-bottom: 20px;
    color: white;
}
.light{
    margin-right: 1060px;
    margin-left: 180px;
    background-color: gray;
    border-radius: 30px;
    padding: 10px;
    height: 220px;
    width: 90px;
    margin-top: -25px;
}
.btn1{
    height: 70px;
    width: 70px;
    border-radius: 50px;
}
